.link__up {
    position: fixed;
    height: 40px;
    width: 40px;
    bottom: 12px;
    right: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid $accentColor;
    box-shadow: 5px 5px 10px rgba(78, 39, 6, 0.5);
    transform: scale(1);

    z-index: 5;
    color: $accentColor;
    background-color: $whiteColor;

    transition: transform 250ms ease;

    &:hover,
    &:focus {
        transform: scale(1.2);
    }
}

.isnt-show {
    display: none;
}

.link__up-icon {
    display: block;
    fill: currentColor;
    flex-shrink: 0;
}
